{%
  set classes = [
  'layout',
  'layout--nci',
]
%}
{% if content %}
<div id="ctl33_nvcgSlLayoutFeatureA" class="row feature-primary flex-columns">
  <div{{ attributes.addClass(classes) }}>
    {% if content.card %}
      <div {{ region_attributes.card.addClass('layout__region', 'layout__region--card') }}>
        {{ content.card }}
      </div>
    {% endif %}

  </div>
</div>
{% endif %}
