{%
  set classes = [
  'layout',
  'layout--nci',
]
%}

{% if content %}
<div class="accordion">
<div id="ctl35_nvcgSlLayoutGuideB" class="nvcgSlLayoutGuideB row guide-card guide-card--home flex-columns">
  <div{{ attributes.addClass(classes) }}>
    {% if content.card %}
      <div {{ region_attributes.card.addClass('layout__region', 'layout__region--card') }}>
        {{ content.card }}
      </div>
    {% endif %}

  </div>
</div>
</div>
{% endif %}
